*{
    margin: 6px;;
    padding: 0;
}
body{
    background-color: #00003f;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    background-image: url(background1.png);
    background-attachment: fixed;      
}

.left{
    font-size: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000017;
    height: 70px;
    border-radius: 26px;
}
nav ul{
    display: flex;
    justify-content: center;

}
/* .right ul { 
    list-style-type: none;
    padding: 0; 
} */
/* .right li { 
    cursor: pointer;
    margin: 5px 0;
    margin-top: 50px;
    padding: 10px;
    width: 120px;
    text-align: center;
    text-decoration: none;
     color: white; 
}  */
/* nav ul li a:hover{ 
    font-size: 1.02rem;
    text-decoration: none;
     color: rgb(177, 177, 177); 
 } */

ul{
    list-style: none;
}
h5 ul{
    list-style:lower-latin;
}
.Firstsection{
    display: flex;
    justify-content: space-around;
}
.Secondsection{
    max-width: 90vw;
    margin: auto;
}

.info{
    border-radius: 19px;
}

/* main hr{ 
    border: 0;
    background-color: rgb(0, 14, 90);
    height: 2px;
    margin: 10px; 
} */
.buttons{
    margin-left: 80px;
    
} 
.buttonss{
    display: none;
}
.btn{
    height: 32px;
    font-family: cursive;
    border-radius: 5px;
    font-size: 15px;
}

       
.downloadresume{
    background-color: black;
    color: white;
}

.Githubbtn{
    background-color: rgb(0, 0, 0);
    color: white;
    background: white;
    color: black;
}