.Mydata {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 300px;

    .Mydata-Skills {
        h5 {
            margin: 0px 0px;
            color: rgb(154, 154, 154);
        }

        .Skills {
            font-family: Brush Script MT;
            font-size: 70px;
            color: cornsilk;
            padding-left: 100px;
            padding-top: 60px;
        }

        .image1 {
            width: 25%;
            left: 790px;
            position: relative;
            border-radius: 180px;
        }
    }
}

.SkillsInfo {
    width: 45%;
    padding: 40px;
    border: 2px solid burlywood;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
    color: white;

    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 35px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    .Front-End {
        text-shadow: 1px 1px black;
        font-family: Brush Script MT;
        color: cornsilk;
        font-size: 50px;
        text-align: center;
    }

    svg {
        margin-left: 40px;
        animation: box-shadow 1s ease;
    }

    svg:hover {
        box-shadow: 0 0 3px 3px black;
        background-color: rgba(255, 228, 196, 0.3);
    }
}

.React {
    img {
        width: 21%;
        border-radius: 300px;
        position: absolute;
        margin-left: 50px;
        border: 1px solid black;
    }
}

.Back-EndInfo {
    width: 45%;
    padding: 40px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid burlywood;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    margin-left: 420px;

    .Front-End {
        text-shadow: 1px 1px black;
        font-family: Brush Script MT;
        color: cornsilk;
        font-size: 50px;
        text-align: center;
    }

    svg {
        margin-left: 125px;
        animation: box-shadow 1s ease;
    }

    svg:hover {
        box-shadow: 0 0 3px 3px black;
        background-color: rgba(255, 228, 196, 0.3);
    }
}

.Backimg {
    img {
        width: 21%;
        border-radius: 300px;
        position: absolute;
        margin-left: 50px;
        border: 1px solid black;
    }
}

.ToolsInfo {
    
    width: 45%;
    padding: 40px;
    margin-top: 35px;
    border-radius: 10px;
    border: 2px solid burlywood;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    margin-left: 35px;

    .Front-End {
        text-shadow: 1px 1px black;
        font-family: Brush Script MT;
        color: cornsilk;
        font-size: 50px;
        text-align: center;
    }

    svg {
        margin-left: 69px;
        animation: box-shadow 1s ease;
    }

    svg:hover {
        box-shadow: 0 0 3px 3px black;
        background-color: rgba(255, 228, 196, 0.3);
    }
}

.Toolsimg {
    img {
        width: 21%;
        border-radius: 300px;
        position: absolute;
        margin-left: 50px;
        border: 1px solid black;
    }
}

.MyWorks {

    /* width: 100%; */
    h1 {
        font-size: 85px;
        font-family: Brush Script MT;
        padding-top: 80px;
        padding-left: 3rem;
        color: cornsilk;
        text-shadow: 1px 1px black;
    }

    .MyWorks0 {
        background-color: rgba(255, 228, 196, 0.3);
        box-shadow: 0 0 3px 3px black;
        border-radius: 10px;
        border: 2px solid burlywood;
        padding-bottom: 45px;
        padding-top: 25px;
        margin: 100px 0px;

        .MyWorks1 {
            display: flex;

            a {
                font-family: "Press start 2p";
                color: white;
                font-size: 30px;
                margin-left: 200px;

                img {
                    width: 24rem;
                    border-radius: 300px;
                    
                    transition: border 20s linear infinite;
                   
                }

                img:hover {
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: 0 0 5px 5px rgba(70, 70, 70, 0.8);
                }

           
            }

            a:hover {
                color: bisque;
                /* box-shadow: 0 0 2px 2px rgb(255, 255, 255,0.8); */
            }

            h3 {
                text-shadow: 1px 1px black;
                font-size: 35px;
                margin-left: 20px;
                margin-top: 178px;
            }
        }
    }
}

.Mydata-ContactMe a {
    color: cornsilk;
    font-size: 22px;
    margin-left: -70px;
}

.Mydata-Projects {
    padding-left: 100px;
    margin-left: 211px;
}

.Projects {
    font-family: Brush Script MT;
    font-size: 65px;
    color: cornsilk;
    padding-left: 400px;
    list-style-type: disc;
}

#with-point {
    position: relative;
    padding-left: 20px;
    /* Space for the point */
    font-family: Arial, sans-serif;
}

#with-point::before {
    content: "•";
    /* Unicode for a bullet point */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: burlywood;
    /* Color of the point */
    font-size: 18px;
    /* Adjust the size of the point */
}