/* @media (max-width:728px) { 
    body {
        background-color: green;

    }
 } */
@media screen and (max-width: 600px) {
    body {
      font-size: 12px;
      background-color: lightgray;
      background-image: url(galaxy2.jpg);
    }
    nav{
      margin-right: -210px !important;
    }
    .left{
        font-family: Cooper black;
    }
}
@media screen and (max-width:600px){
    .Mydata{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .info{
        font-size: 19px;
        margin: -70px -38px;
    }
    .buttons{
        margin-top: 60px;
        margin-bottom: 53px;
        display: none;   

    }
    .buttonss{
        margin: 0px 50px;
        display: flex;
        margin-top: -80px;
    }
    #element{
        font-size: 43px;
        font-family: Brush Script MT;
    }
    #elements{
        font-size: 50px;
        font-family: Brush Script MT;
    }
    .leftsection{
        width: 60%;
    }
    .rightsection{
        margin: 25px;
        width: 40%
    }
    .rightsection img{
        margin: 15px;
        width: 115%;
        padding-left: 10px;
        padding-top: 10px;
    }
    h5{
        font-size: 20px;    
    }
    .purple{
        padding: 0px 0px;
    }
    hr{
        width: 570px!important;
    }
    .Mydata{
        
        margin-left: -47px;
        .Mydata-Skills{
            margin: 100px 60px;
            h5{
                font-size: 14px;
            }
            h1{
                font-size: 33px;
            }
            .image1{
                margin: 1px -630px;
                display: none;
            }
            .Skills{
               padding-bottom: 65px;
               padding-left: 21px;
               margin: -75px 0px;
               font-family: Brush Script MT;
            }
        }
        .SkillsInfo{
            margin-top: 0px;
            width: 280px;
            margin-left: 14px;
            display: flex;
        }

        
        
        .SkillsInfo h3 {
            margin-bottom: 10px;
            font-size: 0px;
            
        }
        
        .SkillsInfo ul {
            list-style-type: disc;
            padding-left: 20px;
        }
        
        .SkillsInfo li {
            font-size: 16px;
            
        }
        .Mydata-Projects{
            margin: 100px 60px;
            .Projects{
                margin-left: -600px;
                margin-top: -170px;
                font-family: Brush Script MT;
            }
            .Projects-info{
                font-size: 18px !important;
                border-radius: 10px;
                margin: 26px -44px;
                margin-right: -40px;
                h5{
                    font-size: 18px;
                }   
            }
        }
       
           
        
    }
    .Mydata-ContactMe svg{
        margin: 1px 1px;
    }
    
}  
