@media screen and (max-width: 800px) {
    body {
      font-size: 12px;
      background-color: lightgray;
      background-image: url(public/galaxy3.jpg);
    }
    .info{
        padding: 1px;
        #element{
            font-size: 35px;
        }

    }
    .Mydata{
        display:flex!important;
        -webkit-backdrop-filter: none!important;
        backdrop-filter: none!important;
        flex-wrap: wrap;
    }
    nav{
        margin-right: -40px;
    }
    .rightsection img{
        width: 262px;
        margin-left: 120px;
    }
    hr{
        width: 700px;
        display: none;
    }
    .Mydata-Skills{
        .SkillsInfo{
            width: 409px;
        }
        .React{
            display: none;
        }
    
    }
    .Backimg{
        display: none;
    }
    .Back-EndInfo{
        margin-left: 65px !important;
        width: 25.75rem !important;

    }
    .ToolsInfo{
        width: 26rem !important;
        margin-left: 60px !important;



    }
    .Toolsimg{
        display: none;
    }
    .MyWorks{
        width: 30rem !important;

        margin-left: 4.5rem !important;

        .MyWorks0{
            padding-left: 0rem;
            padding-right: 9rem;

        }
        h1{
            padding-left: 90px !important;
        }
       

        .MyWorks1{
            display: contents!important;
            a{
                margin-left: 100px!important;
            }
            img{
                width: 10rem !important;
                margin-left: 4rem!important
                
            }
            h3{
                margin-top: 20px !important;
                text-align: center;
                font-size: 13px !important;
                padding-left: 120px;
            }
        }
    }
   

   
   
}   