@media screen and (max-width: 800px) {
    body {
      font-size: 12px;
      background-color: lightgray;
      background-image: url(galaxy3.jpg);
    }
    .info{
        padding: 1px;
        #element{
            font-size: 35px;
        }

    }
    .Mydata{
        display:flex!important;
        flex-wrap: wrap;
    }
    nav{
        margin-right: -40px;
    }
    .rightsection img{
        width: 262px;
        margin-left: 120px;
    }
    hr{
        width: 700px;
        display: none;
    }
    .Mydata-Skills{
        .Skills{
            margin: 0px 46px;
        }
        .SkillsInfo{
            width: 409px;
        }
        .SkillsInfo li{
            font-size: 22px;
        }
    }
   
    .Mydata-Projects{
        .Projects{
            margin-left: -755px;
        }
        .Projects-info{
            font-size: 20px;
            width: 389px;
            margin: 15px -175px;
        }
        .Projects-info ul{
            font-size: 17px;
        }
    }
    .Mydata-ContactMe{
        display: none;
    }
    .Mydata-ContactMe h5{
        margin-top: -50px;
        margin: 0px -195px;
    }
    .Mydata-ContactMe svg{
        margin: -7px 75px !important;
    }
}   