.purple {
    color: ghostwhite;
    /*background-color: #f3e5f5;  Light purple highlight */
    padding: 2px 5px; /* Space around text for better visibility */
    border-radius: 3px; /* Rounded corners */
    font-weight: bold; /* Make text bold */
    font-family: cursive;
}

#element{
    color: #a5a8ff;
    font-size: 35px;
    margin: -4px;
}
#element1{
    color: #a5a8ff;
    font-size: 35px;
    margin: -4px;
}


.typed-cursor.typed-cursor--blink {
    visibility: hidden;
}